@import "main";
.container-fluid {
  margin: 0;
  padding: 0;
}
.arra-header {
  background-color: #203e19;
  width: 100%;
  height: auto;
  max-width: 2000px;
}
.logo {
  width: 30%;
  float: left;
  margin: 1% 0;
  padding: 0 1em;
}
.logo img {
  height: auto;
  width: 100%;
}
.nav {
  width: 70%;
  float: right;
  text-align: center;
  height: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.nav ul {
  width: 100%;
}
.nav li {
  display: inline-block;
  width: 20%;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
@media screen and (min-width: 1275px) {
  .nav {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 920px) and (max-width: 1400px) {
  .nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .logo {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
  .nav {
    width: 100%;
    float: left;
  }
  .nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 655px) {
  .nav li {
    display: block;
    width: 100%;
  }
}
