@import "main";
* {
  margin: 0;
  padding: 0;
}
.arra-header {
  background-color: #ffb717;
  width: 100%;
  height: auto;
  max-width: 1020px;
}

.logo {
    width: 40%;
    float: left;
    margin: 1.25em 0;
  }

.logo img {
    height: auto;
    width: 100%;
  }

.nav {
    width: 60%;
    float: right;
    text-align: center;
    height: auto;
    margin-top: 5%;
  }

.nav li {
    display: inline-block;
    margin-left: 15px;
  }

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
  }

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
 }
