#one,
#two,
#three,
#four,
#five,
#six {
  text-align: center;
  padding: 1em;
}

#one {
  background-color: #FF4D4D;
}

#two {
  background-color: #5C5CFF;
}

#three {
  background-color: #47B547;
}

#four {
  background-color: #FF5C33;
}

#five {
  background-color: #949494;
}

#six {
  background-color: #fff;
}

.header {
  a {
    border: 1px solid black;
    font-size: 20px;
  }
}

.footer {
  text-align: center;
}
