* {
  margin: 0;
  padding: 0;
}

.mo-header {
  background-color: #ffb717;
  height: 100px;

  img {
    float: left;
    height: 90%;
    padding: 0.5em;
  }

  li {
    float: left;
    display: inline-block;
    padding-right: 15px;
  }

  a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
  }
}

#joint-finances {
  background-image: url("/images/joint-finances.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
